{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>원격수업운영위원회 운영을 위한 업무용 웹앱</title>
  <!-- 정적 CSS 연결 -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="site-body">
  <header class="site-header">
    <h1>DLC operation</h1>
    <nav>
      <a href="{% url 'core:index' %}">Home</a> |
      <a href="{% url 'core:faculty_upload' %}">Faculty Upload (admin)</a> |
      <a href="{% url 'core:faculty_enrich' %}">Faculty Enrich</a> |
      <a href="{% url 'core:faculty_search' %}">Faculty Search</a> |
      <a href="{% url 'core:course_upload' %}">Course Upload(admin)</a> |
      <a href="{% url 'core:course_search' %}">Course Search(Professor)</a> |
      <a href="{% url 'core:course_admin_export' %}">(관리자용) 최종 정보 보기</a>
    </nav>
  </header>

  <hr>

  <main class="site-main">
    {% block content %}{% endblock %}
  </main>

  <footer class="site-footer">
    <p>© 2025 Learning Innovation</p>
  </footer>
</body>
</html>
